body {
  background: #eeeeee;
  font-family: “Trebuchet MS”, Verdana, Arial, serif;
}
div.outline-3 {
    margin: 1.5em 1em;
    padding: 0.5em 1em;
    background: #d6d6d6;
}

p.validation {
    display: none;
}

#postamble {
    margin: 1.5em 1em;
    padding: 0.5em 1em;
    background: #d6d6d6;
}