html * {
  font-size: 1em !important;
  font-family: “Trebuchet MS”, Verdana, Arial, serif;
}
body {
    background: #eeeeee;
    width: 60%;
    margin: 0 20% 2% 20%;
}
div.outline-3, .status  {
    background: #d6d6d6;
    padding: 1em;
    margin: 0 0 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
}

p.validation {
    display: none;
}

#postamble {
    background: #d6d6d6;
}
